<div class="search-results-page-form">
  <div class="row section">
    <div class="col m1">
      <p class="flow-text">Search</p>
    </div>
    <div class="col m11"><%= render 'search/form' %></div>
  </div>
</div>
<div class="row divider"></div>
<div class="row">
  <div class="col m12">
    <p class="no-results">
      <%= @results_message %>
    </p>
  </div>
</div>
<div class="search-results ">
  <% @companies.each do |company| %>
    <div class="row company" >
      <div class="col m3 company-img-holder">
        <img class="company-img img_resize " src="<%= company.profile_image_url %>" alt="<%= company.name %>" />
      </div>
      <div class="col m9">
        <h5><%= link_to  company.name , company_path(company)%></h5>
        <div class="rating"><i class="small material-icons">insert_chart</i><strong>Rating Avg: </strong><%= custom_rating_generator company.avg_rating %></div>
      </div>
    </div>
    <div class="row divider"></div>
  <% end %>
</div>


<div class="company-data" data="<%= autocomplete_data %>"></div>
