
<h3>Profile</h3>
<hr>
<div class="row">
  <div class="col m2">
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
  </div>
</div>

<div class="row">
  <div class="col m9">
    <strong>First Name:</strong> <p><%= @user.first_name %></p>
    <hr>
    <strong>Last Name:</strong> <p><%= @user.last_name %></p>
    <hr>
    <strong>Email:</strong> <p><%= @user.email %></p>
    <hr>
  </div>
  <div class="col m3">
    <a href=<%= edit_user_registration_path %>><i class="small material-icons">edit</i></a>
    <% if current_user %>
      <%= button_to "Submit a New Company", new_submission_path, method: "get",:class => "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="reviews">
Reviews:


<table>
  <thead>
    <tr>
        <th>Company</th>
        <th>Review</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @reviews.each do |review| %>
      <td>Eclair</td>
      <td><%= link_to "#{review.body}", review_show_path(review) %></td>
    <% end %>
    </tr>
  </tbody>
</table>

