<%= @user.first_name %>
<br>
<%= @user.last_name %>
<br>
<%= @user.email %>
<br>
<%= link_to "Edit Profile", edit_user_registration_path %>

<%= image_tag(@user.avatar_url) if @user.avatar? %>
<hr>
<div class="reviews">
Reviews:
	<ul>
		<% @reviews.each do |review| %>
			<li><%= link_to "#{review.body}", review_show_path(review) %></li>
		<% end %>
	</ul>
</div>


<% if current_user %>
	<%= button_to "Submit a Company", new_submission_path, method: "get" %>
<% end %>

