<div class="row">
  <div class="col s2"></div>
  <div class="col s8">

<h3>New Company Submission</h3>

<div>
	<%= form_for(@submission) do |f| %>

	<%= f.label :name %><br />
    <%= f.text_field :name %>

    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>

    <%= f.label :domain %><br />
    <%= f.text_field :domain %>

    <%= f.label :city_name %><br />
    <%= f.text_field :city_name %>

    <%= f.label :region_name %><br />
    <%= f.text_field :region_name %>

    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>


    <div class="field">
        <label>*Upload Company Logo</label>
        <%= f.label :avatar do %><br />
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        <% end %>
	</div>

    <br />

    <%= f.submit "Submit Company", class: "btn" %>
    <% end %>
  
</div>

  </div>
  <div class="col s2"></div>
</div>
