<div class="row company-information">
	<!-- Company Profile Image -->
	<div class="col m3">
		<%= image_tag @company.profile_image_url, :class=>"wow fadeIn company-profile-img responsive-img card" %>
		<div class="section">
			<% if @company.avg_rating %>
				<%= custom_rating_generator @company.avg_rating %>
			<% else %>
				<p>No ratings have been made yet.</p>
			<% end %>
		</div>
		<div class="section">
			<%= button_to "Add a Review", new_company_review_path(@company), method: "get", :class=>"btn btn-primary" %>
		</div>
	</div>
	<!-- Company Information -->
	<div class="col m9">
		<!-- Company location -->
		<div class="row company-location">
			<p class="flow-text"><span class="location"><%= @company.city_name %>, <%= @company.region_name %>, <%= @company.country_code %></span></p>
			<p class="flow-text"><small><%= @company.short_description %></small></p>
			<% if @company.domain %>
			  <p><a href="http://<%= @company.domain %>" target="blank">Website</a></p>
			<% end %>

		</div>

		<!-- Company rating -->
		<div class="row">
			<h3>Ratings</h3><br>
			<!-- Chart JS -->
			<div class="col m6">
				<div class="company-chart-ratings" inclusion="<%= @company.inclusion_rating %>" diversity="<%= @company.diversity_rating %>" culture="<%= @company.culture_rating %>"></div>
				<canvas id="canvas"></canvas>
			</div>
			<!-- Overall Rating -->
			<div class="col m6">
			</div>
			<!-- End of Rating -->
		</div>
	</div>

</div>

<div class="row divider"></div>

<!-- Add a Review section -->
<div class="row add-review">
	<div class="col m9"><h3>Reviews</h3></div>
	<div class="col m3">
	</div>
</div>

<!-- Comments Section -->
<div class="company-comments">
	<% @company.reviews.each_with_index do |review, index|%>
		<div class="row wow fadeIn">

			<!-- Review Details -->
			<div class="col m3">
				<!-- Review Ratings -->
				<div class="review-ratings">
					<p>Overall Rating</p>
					<p><%= custom_rating_for_review( review, "overall" ) %></p>
				</div>
			</div>
			<!-- End of review details -->

			<!-- Review Body -->
			<div class="col m9">
				<div class="row review-body">
					<p><%= review.body %></p>
					<span class="right"><%= link_to("Read more", review_show_path(review) ) %></span>
				</div>
				<!-- Author Name  -->
				<div class="row reviewed-by">
					<% if review.anonymous %>
						by <%= "Reviewer" %>
					<% else %>
						by <%= review.reviewer.first_name%>
					<% end %>
				</div>
				<!-- Like Buttons -->
				<%= render partial: "show", locals: {review: review} %>

				<!-- Modal Trigger to add comment -->
				<% if current_user %>
					<button class="waves-effect waves-light btn modal-trigger" data-target=<%= "modal#{index}" %>>+ Add Comment</button>
				<% end %>
			</div>
			<!-- End of review body  -->
		</div>
		<!-- end of overall review row -->
		
		<!-- Modal Structure -->
		<div id=<%= "modal#{index}" %> class="modal">
			<div class="modal-content">
				<h4>Add a Comment</h4>

				<div class="row">
					<%= render  partial: "new_comment", locals: {review: review, comment: Comment.new} %>
				</div>
			</div>
		</div>
		<!-- End of Modal -->
		<div class="row divider"></div>
	<% end %>
</div>

<div>
	<% if current_user && current_user.admin == true %>
		<%= link_to "Update Company", edit_company_path(@company) %>
		<%= link_to "Delete Company", @company, method: "delete" %>
	<% end %>
</div>
