<h1><%= @company.name %></h1>
<hr>

<h4><%= @company.city_name %></h4>
<h4><%= @company.region_name %></h4>
<h4><%= @company.country_code %></h4>
<hr>
 
Culture  : <%= rating_for @company, 'culture' %>
Inclusion : <%= rating_for @company, 'inclusion' %>
Diversity : <%= rating_for @company, 'diversity' %>








