<div class="row">
	<!-- Company Profile Image -->
	<div class="col m3">
		<%= image_tag @company.profile_image_url %>
	</div>
	<!-- Company Information -->
	<div class="col m9">
		<h1><%= @company.name %></h1>
		<!-- Company location -->
		<div class="row company-location">
			Located in <span class="location"><%= @company.city_name %>, <%= @company.region_name %>, <%= @company.country_code %></span>
		</div>
		<!-- Company description -->
		<div class="row company-description">
			<%= @company.short_description %>
		</div>
	</div>
</div>

<h3>Average Rating</h3>
<% if (@company.culture_average && @company.inclusion_average && @company.diversity_average)%>
	Culture  : <%= @company.culture_average.avg %>
	Inclusion : <%= @company.inclusion_average.avg %>
	Diversity : <%= @company.diversity_average.avg %>
<% end %>


<hr>


<h3>Reviews</h3>
<% if current_user && !@company.reviewed?(current_user) %>
<%= button_to "+Review", new_company_review_path(@company), method: "get"  %>
<% end %>

<div class="row">
	<% @company.reviews.each do |review|%>
		<div>
			<% if review.anonymous %>
				<%= "Anonymous" %> <br>
			<% else %>
				<%= review.reviewer.first_name%>
			<% end %>
		<%= link_to("#{review.body}", review_show_path(review) ) %>
		Culture: <%= review.rating_for_user("culture" , {star: 5 , readonly: true })  %>
		Inclusion: <%= review.rating_for_user( "inclusion", {star: 5 , readonly: true }) %>
		Diversity: <%= review.rating_for_user( "diversity", {star: 5 , readonly: true}) %>
		<% if (current_user && !review.liked?(current_user) ) %>
		<%= button_to "Like", review_like_path(review), method: "get"  %>
		<% elsif ( current_user && review.liked?(current_user) ) %>
		<%= button_to "Unlike", review_unlike_path(review), method: "delete"  %>
		<% end %>
		<br>
		Likes: <%= review.likes.length %>
		</div>
	<% end %>
</div>
