<h1><%= @company.name %></h1>
<hr>

<h4><%= @company.city_name %></h4>
<h4><%= @company.region_name %></h4>
<h4><%= @company.country_code %></h4>

<hr>


<h3>Average Rating</h3> 
<% if (@company.culture_average && @company.inclusion_average && @company.diversity_average)%>
	Culture  : <%= @company.culture_average.avg %>
	Inclusion : <%= @company.inclusion_average.avg %>
	Diversity : <%= @company.diversity_average.avg %>
<% end %>


<hr>


<h3>Reviews</h3>
<% if current_user && !@company.reviewed?(current_user) %>
<%= button_to "+Review", new_company_review_path(@company), method: "get"  %>
<% end %>

<div class=" container">
	<% @company.reviews.each do |review|%>
		<div>
			<% if review.anonymous %>
				<%= "Anonymous" %> <br>
			<% else %>
				<%= review.reviewer.first_name%>
			<% end %>
		<%= link_to("#{review.body}", review_show_path(review) ) %>
		Culture: <%= review.rating_for_user("culture" , {star: 5 , readonly: true })  %>
		Inclusion: <%= review.rating_for_user( "inclusion", {star: 5 , readonly: true }) %>
		Diversity: <%= review.rating_for_user( "diversity", {star: 5 , readonly: true}) %>
		<% if (current_user && !review.liked?(current_user) ) %>
		<%= button_to "Like", review_like_path(review), method: "get"  %>
		<% elsif ( current_user && review.liked?(current_user) ) %>
		<%= button_to "Unlike", review_unlike_path(review), method: "delete"  %>
		<% end %>
		<br>
		Likes: <%= review.likes.length %>
		</div>
	<% end %>
</div>
<div>
	<% if current_user && current_user.admin == true %>
		<%= link_to "Update Company", edit_company_path(@company) %>
		<%= link_to "Delete Company", @company, method: "delete" %>
	<% end %>
</div>







