
<div class = container>
<%= form_for [ @company , @review]  do |f|%>


  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

   <div class="field">
    <%= f.label :culture_rating %><br />
    <%= f.text_field :culture_rating %>
  </div>

   <div class="field">
    <%= f.label :diversity_rating %><br />
    <%= f.text_field :diversity_rating %>
  </div>
  <div class="field">
    <%= f.label :inclusion_rating %><br />
    <%= f.text_field :inclusion_rating %>
  </div>

  <div class="field">
    <%= f.check_box :anonymous, {} %><br />
    <%= f.label :anonymous  %>
  </div>

  <div class="actions">
    <%= f.submit "Submit review" %>
  </div>


<% end %>	

</div>
