
<div class = container>
Culture  : <%= rating_for @company, 'culture', disable_after_rate: false %>
Inclusion : <%= rating_for @company, 'inclusion', disable_after_rate: false %>
Diversity : <%= rating_for @company, 'diversity', disable_after_rate: false %>

<%= form_for [ @company , @review]  do |f|%>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.check_box :anonymous,{:checked => 'checked'}, checked_value = true, unchecked_value = false  %>
    <%= f.label :anonymous  %>
  </div>

  <div class="actions">
    <%= f.submit "Submit review" %>
  </div>


<% end %>	

</div>
