<h1>Review</h1>
<div class="container">

<h5><%= @review.body %></h5>
<h6>Comments:</h6>
<hr>
<div> 
  <% if @review.comments.any? %>
    <% @review.comments.each do |comment| %>
      <li><%= comment.body %><h5><%=link_to  "Edit", edit_comment_path(@review,comment) %></h5> <%=link_to  "Delete",[@review,comment], method: 'delete'%></h5></li> 
      <hr>
    <% end %>
  <% end %>
</div>
<%= button_to "+Add Comment", review_comments_path(@review),method: "get" %>
<% if @user == current_user %>
	<%= button_to "+Edit Comment", edit_company_review_path(@company, @review), method: "get" %>
	<%= button_to "Delete Comment", [@company, @review], method: "delete" %>
<% end %>
</div>
