<h1>Review</h1>
<div class="container">

<h5><%= @review.body %></h5>
<h6>Comments:</h6>
<hr>
<div> 
  <% if @review.comments.any? %>
    <% @review.comments.each do |comment| %>
      <li><%= comment.body %></li>
      <div class="comments-likes-button">
        <%= render partial: "show", locals: {comment: comment} %>
      </div>
    <div>
  <% if (current_user && (comment.commentor_id==current_user.id) )  %>
    <%=link_to  "Edit", edit_comment_path(@review,comment) %> 
    <%=link_to  "Delete",[@review,comment], method: 'delete'%>
      <% end %>
  <% end %>
  <% end %>
	</div>
</div>
<% if current_user %>
  <%= button_to "+Add Comment", review_comments_path(@review),method: "get" %>
<% end %>

<% if @user == current_user %>
	<%= button_to "+Edit Review", edit_company_review_path(@company, @review), method: "get" %>
	<%= button_to "Delete Review", [@company, @review], method: "delete" %>
<% end %>
</div>
<div>
  <%= link_to "Back", @company %>
</div>
