<div class="row">
  <div class="col s12">
    <%= link_to @company.name, @company, :class=>"breadcrumb" %>
    <a href="#!" class="breadcrumb">Review</a>
  </div>
</div>


<div class="section">
  <h1>Review</h1>
  <p class="flow-text">
    <%= @review.body %></br>
    <small>
      <% if @review.anonymous %>
        by <%= "Reviewer" %>
      <% else %>
        by <%= @review.reviewer.first_name%>
      <% end %>
    </small>
  </p>

  <div class="divider"></div>
  <h5>Comments:</h5>

  <div class="section">
    <% if @review.comments.any? %>
      <ul>
        <% @review.comments.each do |comment| %>
          <li><%= comment.body %></li>
          <div class="comments-likes-button"><%= render partial: "show", locals: {comment: comment} %></div>
          <div class="section">
            <% if (current_user && (comment.commentor_id==current_user.id) )  %>
              <a href=<%= edit_comment_path(@review,comment)%>><i class="small material-icons">edit</i></a>
              <a rel="nofollow" data-method="delete" href="/reviews/<%= @review.id %>/comments/<%= comment.id %>"><i class="small material-icons">delete</i></a>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
    </div>

    <div class="row">
      <div class="col m9">
      </div>
      <div class="col m3">
        <!-- Modal Trigger to add comment -->
        <% if current_user %>
          <button class="waves-effect waves-light btn modal-trigger" data-target="modal1">+ Add Comment</button>
        <% end %>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Add a Comment</h4>

        <div class="row">
          <%= render  partial: "new_comment", locals: {review: @review, comment: Comment.new} %>
        </div>
      </div>
    </div>
</div>

<% if @user == current_user %>
    <%= button_to "+Edit Review", edit_company_review_path(@company, @review), method: "get",:class => "waves-effect waves-light btn modal-trigger" %>
    <br>
    <%= button_to "Delete Review", [@company, @review], method: "delete",:class => "waves-effect waves-light btn modal-trigger" %>
  <% end %>
</div>
