<!DOCTYPE html>
<html>
  <head>
    <title>OpenDiv</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= render 'layouts/navigation' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="content">
      <div class="container">
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
