<!DOCTYPE html>
<html>
  <head>
    <title>OpenDiv</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="<%= image_path("images/Very-Open-Space.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="<%= image_path("images/Very-Open-Space.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="<%= image_path("images/Very-Open-Space.jpg") %>" alt="">
        </div>
    </div>
</div>

    <%= render 'layouts/navigation' %>


    <main class="content">
      <div class="container">
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
