<!DOCTYPE html>
<html>
  <head>
    <title>OpenDiv</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign Out", destroy_user_session_path , method: "delete" %>
    <%= yield %>
   <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  </body>
</html>
