<!DOCTYPE html>
<html>
  <head>
    <title>OpenDoor</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/73cb1e5028.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  </head>

  <body class="home">

    <%= render 'layouts/offcanvas_menu' %>
    <%= render 'layouts/header' %>
    <main class="content">
      <div class="container">
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/about' %>
    <%= render 'layouts/footer' %>

   <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  </body>
</html>
